/* Universal Selector */
* {

}

/* Head */
h1 {
    text-align: center;
}

/* DIV */
div {

}

/* Colors */
div.colors {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}

    div.colors h6.color-1 {
        Border: 1px solid #BCB485;
        background-color: #bcb485;
        text-align: center;
        margin: 5px 30px 2px;
        color: white;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.colors h6.color-2 {
        Border: 1px solid #DCD1C1;
        background-color: #DCD1C1;
        text-align: center;
        margin: 5px 30px 2px;
        color: white;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.colors h6.color-3 {
        Border: 1px solid #F5F5F5;
        background-color: #F5F5F5;
        text-align: center;
        margin: 5px 30px 2px;
        color: white;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.colors h6.color-4 {
        Border: 1px solid #383838;
        background-color: #383838;
        text-align: center;
        margin: 5px 30px 2px;
        color: white;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    /* text within color boxes */
        div.colors h6.color-1 p.color1 {
            Border: 1px solid #BCB485;
            background-color: #bcb485;
            text-align: center;
            margin: 5px 30px 2px;
            color: white;
            font-family: 'Source_Code_Pro_regular', sans-serif;
        }
        div.colors h6.color-2 p.color2 {
            Border: 1px solid #DCD1C1;
            background-color: #DCD1C1;
            text-align: center;
            margin: 5px 30px 2px;
            color: white;
            font-family: 'Source_Code_Pro_regular', sans-serif;
        }
        div.colors h6.color-3 p.color3 {
            Border: 1px solid #F5F5F5;
            background-color: #F5F5F5;
            text-align: center;
            margin: 5px 30px 2px;
            color: white;
            font-family: 'Source_Code_Pro_regular', sans-serif;
        }
        div.colors h6.color-4 p.color4 {
            Border: 1px solid #383838;
            background-color: #383838;
            text-align: center;
            margin: 5px 30px 2px;
            color: white;
            font-family: 'Source_Code_Pro_regular', sans-serif;
        }


/* Fonts */
div.fonts {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}


/* Text Styles */
div.text-style {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}


/* Nav Bar */
div.navigation {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}


/* Font stuff */
@font-face {
    font-family:'Nunito_Sans_Regular';
    src: url(./fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Oswald_Regular';
    src: url(./fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Prompt_Regular';
    src: url(./fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
    font-family: 'Source_Code_Pro_regular';
    src: url(./fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}
