/* Universal Selector */
* {

}

/* Head */
.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 61px;
    text-decoration: none;
}

/* h1 title tags */
h1 {
    text-align: center;
    font-family: 'Source_Code_Pro_regular', sans-serif;
    font-size: 42px;
    text-decoration: underline;
}


/* h4 subtitle tags */
h4 {
    text-align: center;
    font-size: 19px;
    font-family: 'Source_Code_Pro_regular', sans-serif;
    margin: 20px 100px;
}

/* DIV */
div {

}

/* Colors */
div.colors-container {
    margin: 10px auto;
    word-spacing: .09px;
    letter-spacing: .001px;
}

div.colors {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 5px 2px;
    position: relative;
    width: 50%;
    font-size: 16px;
    font-family: 'Source_Code_Pro_Regular', sans-serif;
    word-spacing: .09px;
    letter-spacing: .001px;
}

    div.color-1 {
        Border: 1px solid #BCB485;
        background-color: #BCB485;
        text-align: center;
        margin: 8px 30px;
        color: white;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.color-2 {
        Border: 1px solid #DCD1C1;
        background-color: #DCD1C1;
        text-align: center;
        margin: 8px 30px;
        color: white;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.color-3 {
        Border: 1px solid #F5F5F5;
        background-color: #F5F5F5;
        text-align: center;
        margin: 8px 30px;
        color: #333;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.color-4 {
        Border: 1px solid #383838;
        background-color: #383838;
        text-align: center;
        margin: 8px 30px;
        color: white;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.colors h6 p {
        font-size: 20px;
    }

/* Fonts */
div.font-container {
    margin: 10px auto;
    word-spacing: .09px;
    letter-spacing: .001px;
}

div.fonts {
    border: 2.3px solid #333;
    margin: 10px auto;
    padding: 0px auto;
    position: relative;
    width: 50%;
}
    /* OSWALD */
    h6.font-1 {
        font-family: 'Oswald_Regular';
        font-size: 35px;
        text-decoration: underline;
        text-align: center;
        margin: 15px auto;
    }
        /* P tags */
        h6.font-1 p {
            text-align: center;
            font-family: 'Oswald_Regular', sans-serif;
            font-size: 15px;
        }

    /* NUNITO_SANS */
    h6.font-2 {
        font-family: 'Nunito_Sans_Regular', sans-serif;
        font-size: 35px;
        text-decoration: underline;
        text-align: center;
        margin: 15px auto;
    }
        /* P tags */
        h6.font-2 p {
            text-align: center;
            font-family: 'Nunito_Sans_Regular', sans-serif;
            font-size: 15px;
        }

    /* PROMPT */
    h6.font-3 {
        font-family: 'Prompt_Regular', sans-serif;
        font-size: 35px;
        text-decoration: underline;
        text-align: center;
        margin: 15px auto;
    }
        /* P tags */
        h6.font-3 p {
            text-align: center;
            font-family: 'Prompt_Regular', sans-serif;
            font-size: 15px;
        }

    /* SOURCE_CODE_PRO_REGULAR */
    h6.font-4 {
        font-family: 'Source_Code_Pro_Regular', sans-serif;
        font-size: 35px;
        text-decoration: underline;
        text-align: center;
        margin: 15px auto;
    }
        /* P tags */
        h6.font-4 p {
            text-align: center;
            font-family: 'Source_Code_Pro_Regular', sans-serif;
            font-size: 15px;
        }
    
    /* P tags */
    div.p-font-1 {
        text-align: center;
        font-family: 'Oswald_Regular', sans-serif;
        font-size: 15px;
    }

    div.p-font-2 {
        text-align: center;
        font-family: 'Nunito_Sans_Regular', sans-serif;
        font-size: 15px;
    }

    div.p-font-3 {
        text-align: center;
        font-family: 'Prompt_Regular', sans-serif;
        font-size: 15px;
    }

    div.p-font-4 {
        text-align: center;
        font-family: 'Source_Code_Pro_Regular', sans-serif;
        font-size: 15px;
    }

/* Text Styles */
div.text-style {
    border: 2.3px solid #333;
    margin: 10px auto ;
    padding: 0px auto;
    position: relative;
    width: 50%;
}

    /* Main Page Heading: Title */
    .text-style1 {
        text-align: center;
        font-size: 61px;
        font-family: 'Nunito_Sans_Regular', sans-serif;
        padding: 11px auto;
        margin: 20px auto;
        
    }

    /* Subheading */
    .text-style2 {
        text-align: center;
        font-size: 42px;
        font-family: 'Nunito_Sans_Regular', sans-serif;
        padding: 11px auto;
    }

    /* Header */
    .text-style3 {
        text-align: center;
        font-size: 25px;
        font-family: 'Nunito_Sans_Regular', sans-serif;
        padding: 11px auto;
    }

    /* Paragraph, text, content */
    .text-style4 {
        text-align: center;
        font-size: 19px;
        font-family: 'Nunito_Sans_Regular', sans-serif;
        padding: 11px auto;
    }

/* Nav Bar */
div.navigation {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}

    /* nav-bar1 */
    ul.nav-bar1 {
        box-sizing: border-box;
        border: 1px solid #383838;
        background-color: #383838;
        width: auto;
        height: 40px;
        margin: 0px auto;
        padding: 10px auto;
        list-style-type: none;
        overflow: hidden;
        position: sticky;
        font-family: 'Nunito_Sans_Regular';
        float: left;
    }
        
        ul.nav-bar1 li {
            color: #F5F5F5;
            text-align: center;
            text-decoration: none;
        }

        ul.nav-bar1 li a:hover {
            color: #F5F5F5;
            text-align: center;
            text-decoration: underline;
            text-decoration-color: #F5F5F5;
        }


/* Font stuff */
@font-face {
    font-family:'Nunito_Sans_Regular';
    src: url(./fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Oswald_Regular';
    src: url(./fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Prompt_Regular';
    src: url(./fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
    font-family: 'Source_Code_Pro_regular';
    src: url(./fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}
