/* Universal Selector */
* {

}

/* Head */
h1 {
    text-align: center;
}


/* Colors */
.colors {
    border: 2.3px solid #333;
    margin: 0px auto;
    padding: 0px auto;
    position: center;
    width: 50%;
}


/* Fonts */
.fonts {
    border: 2.3px solid #333;
    margin: 0px auto;
    padding: 0px auto;
    position: center;
    width: 50%;
}


/* Text Styles */
.text-style {
    border: 2.3px solid #333;
    margin: 0px auto;
    padding: 0px auto;
    position: center;
    width: 50%;
}


/* Nav Bar */
.navigation {
    border: 2.3px solid #333;
    margin: 0px auto;
    padding: 0px auto;
    position: center;
    width: 50%;
}


/* Font stuff */
@font-face {
    font-family:'Nunito_Sans_Regular';
    src: url(./fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Oswald_Regular';
    src: url(./fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Prompt_Regular';
    src: url(./fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
    font-family: 'Source_Code_Pro_regular';
    src: url(./fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}
