/* Universal Selector */
* {

}

/* Head */
head h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* h1 title tags */
h1 {
    text-align: center;
    font-family: 'Source_Code_Pro_regular', sans-serif;
    font-size: 42px;
}


/* h4 subtitle tags */
h4 {
    text-align: center;
    font-size: 19px;
    font-family: 'Source_Code_Pro_regular', sans-serif;
    margin-top: ;
}

/* DIV */
div {

}

/* Colors */
div.colors {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 5px 2px;
    position: relative;
    width: 50%;
    font-size: 16px;
    font-family: 'Source_Code_Pro_Regular', sans-serif;
}

    div.color-1 {
        Border: 1px solid #BCB485;
        background-color: #BCB485;
        text-align: center;
        margin: 8px 30px 2px;
        color: white;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.color-2 {
        Border: 1px solid #DCD1C1;
        background-color: #DCD1C1;
        text-align: center;
        margin: 8px 30px 2px;
        color: white;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.color-3 {
        Border: 1px solid #F5F5F5;
        background-color: #F5F5F5;
        text-align: center;
        margin: 8px 30px 2px;
        color: #333;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.color-4 {
        Border: 1px solid #383838;
        background-color: #383838;
        text-align: center;
        margin: 8px 30px 2px;
        color: white;
        font-size: 17px;
        font-family: 'Source_Code_Pro_regular', sans-serif;
    }

    div.colors h6 p {
        font-size: 20px;
    }

/* Fonts */
div.fonts {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}
    /* OSWALD */
    h6.font-1,
    h6.font-1 p {

    }


/* Text Styles */
div.text-style {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}


/* Nav Bar */
div.navigation {
    border: 2.3px solid #333;
    margin: 10px auto 5px;
    padding: 0px auto;
    position: relative;
    width: 50%;
}


/* Font stuff */
@font-face {
    font-family:'Nunito_Sans_Regular';
    src: url(./fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: 'Oswald_Regular';
    src: url(./fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'Prompt_Regular';
    src: url(./fonts/Prompt/Prompt-Regular.ttf);
}

@font-face {
    font-family: 'Source_Code_Pro_regular';
    src: url(./fonts/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}
